.productCard {
    flex: 1 1 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);

    margin-top: 35px;
    
}

.cardButtons {
    display: flex;
    justify-content: space-around;

}

.cardButtons Button {
    background-color: #ff4800da  !important;
    color: white !important;
    
    width: 120px;

      
}

.cardButton:hover {
    background-color: #f89f319a !important;
    color: black !important;
}