
.amountCart {
    padding-inline: 6px;
    padding-block: 2px;
    background-color: bisque  ;
    border-radius: 50%;
    margin-bottom: 16px;
    color: brown;

    font-size: 10px;
    font-weight: 600;
    
    animation: pulse 1500ms infinite;
}

@keyframes pulse {
    0% {
        box-shadow: bisque 0 0 0 0;
    }
    75% {
        box-shadow: #f89e31 0 0 0 1px;
    }
}



